<div class="container">
  <div class="title">
    <h2>Product Order Form</h2>
  </div>
  <form action="/place-order" method="post">
    <div class="d-flex">
      <div class="container">
        <label>
          <span class="fname">Name <span class="required">*</span></span>
          <input type="text" name="name" class="form-control" />
        </label>
        <label>
          <span>Street Address <span class="required">*</span></span>
          <input
            type="text"
            name="houseadd"
            class="form-control"
            placeholder="House number and street name"
            required
          />
        </label>

        <label>
          <span>State / County <span class="required">*</span></span>
          <input type="text" name="city" class="form-control" />
        </label>
        <label>
          <span>Postcode / ZIP <span class="required">*</span></span>
          <input type="text" name="city" class="form-control" />
        </label>
        <label>
          <span>Phone <span class="required">*</span></span>
          <input type="tel" name="city" class="form-control" />
        </label>
      </div>
      <div class="Yorder">
        <table>
          <tr>
            <th colspan="2">Your order</th>
          </tr>
          <tr>
            <td>Product Name x 2(Qty)</td>
            <td>$88.00</td>
          </tr>
          <tr>
            <td>Subtotal</td>
            <td>$88.00</td>
          </tr>
          <tr>
            <td>Shipping</td>
            <td>Free shipping</td>
          </tr>
        </table><br />
        <div>
          <input
            type="radio"
            name="paymentMode"
            value="cashOnDelivery"
            checked
          />
          Cash on Delivery
        </div>
        <br />
        <div>
          <input type="radio" name="paymentMode" value="bankTransfer" />
          Direct Bank Transfer
        </div>
        <p>
          Make your payment directly into our bank account. Please use your
          Order ID as the payment reference. Your order will not be shipped
          until the funds have cleared in our account.
        </p>
        <br />

        <div>
          <input type="radio" name="paymentMode" value="payPal" />
          Paypal
          <span>
            <img
              src="https://www.logolynx.com/images/logolynx/c3/c36093ca9fb6c250f74d319550acac4d.jpeg"
              alt=""
              width="50"
            />
          </span>
        </div>
        <br />
        <button type="submit">Place Order</button>
      </div>
    </div>
  </form>
</div>

<style>
  .container .title { background: linear-gradient(to bottom right, #5195A8 0%,
  #70EAFF 100%); border-radius: 5px 5px 0 0; padding: 20px; color: #f6f6f6; }
  .container .required { color: red; } .container label, .container table {
  display: block; margin: 15px; } .container label > span { float: left; width:
  45%; margin-top: 12px; padding-right: 20px; } .container input[type="text"],
  .container input[type="tel"], .container input[type="email"], .container
  select { width: calc(100% - 35px); height: 40px; padding: 5px 10px;
  margin-bottom: 10px; border: 1px solid #dadada; color: #888; } .container
  select { height: 45px; } .container .Yorder { margin-top: 15px; padding: 20px;
  border: 1px solid #dadada; border-radius: 0 0 5px 5px; background-color:
  #f6f6f6; } .container table { margin: 0; padding: 0; width: 100%; } .container
  th { border-bottom: 1px solid #dadada; padding: 10px 0; font-weight: bold; }
  .container td { border-bottom: 1px solid #dadada; padding: 10px 0;
  font-weight: normal; } .container p { color: #888; margin-top: 10px; }
  .container .payment-method { margin-top: 20px; } .container button { width:
  100%; margin-top: 20px; padding: 10px; border: none; border-radius: 30px;
  background: #52ad9c; color: #fff; font-size: 15px; font-weight: bold; cursor:
  pointer; } .container button:hover { background: #428a7d; }
</style>